/*
 * @file
 * Css template typography for theme.
 *
 **/

@media (min-width: 768px) {
  .padding-left-right {
    padding-left: 7.33%;
    padding-right: 7.33%;
  }
}

h3 {
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p,
h5 {
  font-size: 14px;
}

.padding-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.margin-50 {
  margin-bottom: 50px;
}

.margin-30 {
  margin-bottom: 30px;
}

.margin-60 {
  margin-bottom: 60px;
}
