/**
 *  @file
 *  Custom css for the breadcrumbs.
 *
 **/

section.breadcrumb-outer-wrapper .breadcrumb {
  padding: 0;
  background: 0;
}

section.breadcrumb-outer-wrapper .breadcrumb ol li {
  list-style-type: none;
  display: inline;
}

section.breadcrumb-outer-wrapper .breadcrumb ol {
  padding-left: 0;
}

section.breadcrumb-outer-wrapper .breadcrumb ol li> a:hover,
section.breadcrumb-outer-wrapper .breadcrumb ol li> a:hover {
  color: #333;
  cursor: pointer;
}

section.breadcrumb-outer-wrapper .breadcrumb  ol li + li:before {
  content: "\f101";
  font-family: FontAwesome;
  color: #337ab7;
  margin-right: 5px;
  font-size: 16px;
}
