/**
 * @file
 * Css template for footer.footer-outer-wrapper.
 *
 **/

footer.footer-outer-wrapper {
  background: #078d92;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 5px solid #97a1a5;
}

footer.footer-outer-wrapper .menu-item a,
footer.footer-outer-wrapper a,
footer.footer-outer-wrapper p {
  color: #ffffff;
  font-size: 15px;
}

footer.footer-outer-wrapper .menu-item {
  padding-left: 0;
  padding: 2px 0;
}

footer.footer-outer-wrapper .menu-list-item > a:hover,
footer.footer-outer-wrapper .menu-list-item > a:focus,
footer.footer-outer-wrapper a:hover,
footer.footer-outer-wrapper a:focus {
  color: #333 !important;
}

footer.footer-outer-wrapper .block-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}


footer.footer-outer-wrapper .footer-main-outer-wrapper > * {
  margin-bottom: 10px;
}

footer.footer-outer-wrapper .footer-main-outer-wrapper .menu .menu-item:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  footer.footer-outer-wrapper .footer-main-outer-wrapper .menu-item {
    display: inline-block;
    padding: 5px 15px;
  }
}

@media (max-width: 768px) {
  footer.footer-outer-wrapper .footer.footer-outer-wrapper-panel + .footer.footer-outer-wrapper-panel {
    margin-top: 15px;
  }
}

/** css for website makeover colors starts here**/

.website-base-color-sea-blue footer.footer-outer-wrapper {
  background: #078d92;
}

.website-base-color-carrot-red footer.footer-outer-wrapper {
  background: #d9534f;
}

.website-base-color-historical-brown footer.footer-outer-wrapper {
  background: #8a6d3b;
}

.website-base-color-parrot-green footer.footer-outer-wrapper {
  background: #16a085;
}

.website-base-color-professional-blue footer.footer-outer-wrapper {
  background: #367482;
}

.website-base-color-purple footer.footer-outer-wrapper {
  background: #76448a;
}

/** css for website makeover colors ends here**/

/** css for widgets starts here**/

.widgets-outer-wrapper .block-title {
  font-weight: 700;
}

.website-base-color-sea-blue .widgets-outer-wrapper .block-title {
  color: #078d92;
}

.website-base-color-carrot-red .widgets-outer-wrapper .block-title {
  color: #d9534f;
}

.website-base-color-historical-brown .widgets-outer-wrapper .block-title {
  color: #8a6d3b;
}

.website-base-color-parrot-green .widgets-outer-wrapper .block-title {
  color: #16a085;
}

.website-base-color-professional-blue .widgets-outer-wrapper .block-title {
  color: #367482;
}

.website-base-color-purple .widgets-outer-wrapper .block-title {
  color: #76448a;
}

/** css for widgets ends here **/

/** css for footer.footer-outer-wrapper social links starts here **/

.social_icons-outer-wrapper .social-media-links--platforms li {
  list-style: none;
  display: inline-block;
}

.social_icons-outer-wrapper  .social-media-links--platforms li a {
  border: 2px solid;
  padding: 10px 15px;
  display: inline-flex;
  border-radius: 50%;
  text-decoration: none;
}

.social_icons-outer-wrapper  .social-media-links--platforms li a .fa {
  font-size: 22px;
}

.social_icons-outer-wrapper  .social-media-links--platforms li+li {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .social_icons-outer-wrapper {
    margin-top: 20px;
    text-align: left;
  }
}

.social_icons-outer-wrapper  .social-media-links--platforms li.facebook a {
  padding: 10px 17px;
}

.social_icons-outer-wrapper  .social-media-links--platforms li.twitter a {
  padding: 10px 14px;
}
/** css for social links ends here **/
