/**
 *  @file
 *  Custom css for the hamburger menu.
 *
 **/

div#hamburger h1 {
  font-size: 20px;
}

div#hamburger h2 {
  font-size: 18px;
}

div#hamburger {
  display: none;
}

header .site-brand > div {
  display: inline-block;
}

div#hamburger {
  position: fixed;
  left: 0;
  background: #ffffff;
  z-index: 100;
  width: 250px;
  height: 100%;
  color: #333;
  padding: 15px;
  border-right: 1px solid #aaaaaa;
  box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3333);
  overflow-x: auto;
  overflow-y: scroll;
}

header .site-brand > .hamburger-bars {
  width: 40px;
}

header .site-brand > .site-info {
  width: calc(100% - 45px);
}

.hamburger-bars .fa-bars {
  font-size: 25px;
  vertical-align: text-bottom;
}

.hamburger-bars .fa-bars:hover {
  color: #333;
  cursor: pointer;
}

div#hamburger .menu-item a,
div#hamburger a,
div#hamburger p {
  color: #333;
  font-size: 15px;
}

div#hamburger .menu-list-item > a:hover,
div#hamburger .menu-list-item > a:focus,
div#hamburger a:hover,
div#hamburger a:focus {
  color: #078d92;
}

@media (max-width: 768px) {

  header .navbar-right {
    display: none;
  }

}

div#hamburger > .close-navigation {
  margin-bottom: 10px;
  font-size: 20px;
}

div#hamburger > .close-navigation .fa:hover {
  color: #078d92;
  cursor: pointer;
}

div#hamburger .region.hamburger_menu > * {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #078d92;
}

div#hamburger .region.hamburger_menu ul {
  margin-bottom: 0;
}

div#hamburger .block-title {
  font-size: 18px;
  font-weight: 600;
  color: #078d92;
}

/** css for search box starts here **/

div#hamburger .region.hamburger_menu .search-block-outer-wrapper {
  width: 200px;
  border-radius: 52px;
  background-color: #ffffff;
  border: 1px solid #9b9b9b !important;
  overflow: hidden;
  z-index: 100;
  padding: 0px 10px;
}

div#hamburger .region.hamburger_menu .search-block-outer-wrapper .form-item.form-group {
  margin-bottom: 0;
}

div#hamburger .region.hamburger_menu .search-block-outer-wrapper .form-item.form-group input {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  height: 28px;
  display: inline-block;
  width: calc(100% - 24px);
}

div#hamburger .region.hamburger_menu .search-block-outer-wrapper .form-actions {
  display: none;
}

div#hamburger .region.hamburger_menu .search-block-outer-wrapper .form-item:after {
  content: "\f002";
  font-family: FontAwesome;
  display: inline-block;
  width: 20px;
}

/** css for search box ends here */

/** css for website makeover colors starts here**/

.website-base-color-sea-blue div#hamburger .menu-list-item > a:hover,
.website-base-color-sea-blue div#hamburger .menu-list-item > a:focus,
.website-base-color-sea-blue div#hamburger a:hover,
div#hamburger a:focus,
.website-base-color-sea-blue div#hamburger > .close-navigation .fa:hover,
.website-base-color-sea-blue div#hamburger .block-title {
  color: #078d92;
}

.website-base-color-sea-blue div#hamburger .region.hamburger_menu > * {
  border-bottom: 1px dotted #078d92;
}

.website-base-color-carrot-red div#hamburger .menu-list-item > a:hover,
.website-base-color-carrot-red div#hamburger .menu-list-item > a:focus,
.website-base-color-carrot-red div#hamburger a:hover,
div#hamburger a:focus,
.website-base-color-carrot-red div#hamburger > .close-navigation .fa:hover,
.website-base-color-carrot-red div#hamburger .block-title {
  color: #d9534f;
}

.website-base-color-carrot-red div#hamburger .region.hamburger_menu > * {
  border-bottom: 1px dotted #d9534f;
}

.website-base-color-historical-brown div#hamburger .menu-list-item > a:hover,
.website-base-color-historical-brown div#hamburger .menu-list-item > a:focus,
.website-base-color-historical-brown div#hamburger a:hover,
div#hamburger a:focus,
.website-base-color-historical-brown div#hamburger > .close-navigation .fa:hover,
.website-base-color-historical-brown div#hamburger .block-title {
  color: #8a6d3b;
}

.website-base-color-historical-brown div#hamburger .region.hamburger_menu > * {
  border-bottom: 1px dotted #8a6d3b;
}

.website-base-color-parrot-green div#hamburger .menu-list-item > a:hover,
.website-base-color-parrot-green div#hamburger .menu-list-item > a:focus,
.website-base-color-parrot-green div#hamburger a:hover,
div#hamburger a:focus,
.website-base-color-parrot-green div#hamburger > .close-navigation .fa:hover,
.website-base-color-parrot-green div#hamburger .block-title {
  color: #16a085;
}

.website-base-color-parrot-green div#hamburger .region.hamburger_menu > * {
  border-bottom: 1px dotted #16a085;
}

.website-base-color-professional-blue div#hamburger .menu-list-item > a:hover,
.website-base-color-professional-blue div#hamburger .menu-list-item > a:focus,
.website-base-color-professional-blue div#hamburger a:hover,
div#hamburger a:focus,
.website-base-color-professional-blue div#hamburger > .close-navigation .fa:hover,
.website-base-color-professional-blue div#hamburger .block-title {
  color: #367482;
}

.website-base-color-professional-blue div#hamburger .region.hamburger_menu > * {
  border-bottom: 1px dotted #367482;
}

.website-base-color-purple div#hamburger .menu-list-item > a:hover,
.website-base-color-purple div#hamburger .menu-list-item > a:focus,
.website-base-color-purple div#hamburger a:hover,
div#hamburger a:focus,
.website-base-color-purple div#hamburger > .close-navigation .fa:hover,
.website-base-color-purple div#hamburger .block-title {
  color: #76448a;
}

.website-base-color-purple div#hamburger .region.hamburger_menu > * {
  border-bottom: 1px dotted #76448a;
}

/** css for website makeover colors ends here**/

div#hamburger .region.hamburger_menu > *:last-child {
  border: none;
}

div#hamburger .menu-list-item {
  padding-left: 0;
}

/**
 *
 *  hide hamburger from desktop
 *
 **/
@media (min-width: 768px) {
  .header .site-brand > .hamburger-bars.hide-hamburger-from-desktop,
  .header .site-brand > .hamburger-bars.hide-hamburger-from-desktop .fa {
    display: none;
  }
}
