/**
 * @file.
 * CSS for header section.
 *
 **/

header {
  background: #078d92;
  color: #ffffff;
  border-radius: 0 !important;
  padding-top: 10px;
}

header .block-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
}

header .menu-item a,
header a,
header p {
  color: #ffffff;
  font-size: 16px;
}

header .menu-item {
  padding-left: 0;
  padding: 2px 0;
}

header .header-main-outer-wrapper {
  margin-top: 20px;
}

header .menu-list-item > a:hover,
header .menu-list-item > a:focus,
header a:hover,
header a:focus {
  color: #333 !important;
}

.header .navbar-right .menu .menu-item {
  display: inline-block;
}


.header .navbar-right .menu .menu-item > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 16px 15px;
  text-decoration: none;
}

.header .navbar-right .menu.main-menu .menu-item > a {
  font-weight: 700;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0 !important;
  }
}

.site-brand {
  padding: 15px 0px;
}

.site-logo {
  display: inline-block;
  margin-right: 10px;
}

.site-name {
  display: inline-block;
  vertical-align: bottom;
  font-weight: 700;
}

.site-logo img {
  vertical-align: inherit;
  max-height: 22px;
}

/** css for website makeover colors starts here**/

.website-base-color-sea-blue header {
  background: #078d92;
}

.website-base-color-carrot-red header {
  background: #d9534f;
}

.website-base-color-historical-brown header {
  background: #8a6d3b;
}

.website-base-color-parrot-green header {
  background: #16a085;
}

.website-base-color-professional-blue header {
  background: #367482;
}

.website-base-color-purple header {
  background: #76448a;
}

/** css for website makeover colors ends here**/

/** css for menu issue #2977424 starts here. **/

.header .navbar-right .menu > .menu-dropdown > ul {
  position: absolute;
}

.header .navbar-right li.menu-dropdown.menu-list-item > ul .menu-item > a {
  color: #333;
}

.header .navbar-right li.menu-dropdown.menu-list-item.menu-item-is-expended.menu-item {
  position: relative;
}

.header .navbar-right li.menu-dropdown.menu-list-item > ul {
  min-width: 100px;
  padding: 0 10px;
  min-width: 180px;
  right: 0;
}

/** css for menu issue #2977424 ends here. **/
