/**
 *  @file
 *  Default css template for menu.
 **/

nav {
  clear: both;
}

ul {
  padding: 0;
}

.menu .menu-dropdown > ul {
  display: none;
}

.menu .menu-dropdown:hover > ul {
  display: block;
}

.menu-list-item {
  list-style: none;
  padding: 5px 15px;
}
.menu-list-item > a {
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.menu-list-item > a:hover,
.menu-list-item > a:focus {
  color: #078d92;
  cursor: pointer;
}

.menu-dropdown >a:after {
  content: "\f0d7";
  font-family: Fontawesome;
  padding: 0 5px;
  text-align: right;
}

.menu-dropdown > a:hover:after {
  content: "\f0d8";
  font-family: Fontawesome;
  padding: 0 5px;
  text-align: right;
}

header .menu-dropdown > ul {
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .1);
  overflow: hidden;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.menu > .menu-dropdown > ul {
  z-index: 100;
}

/** css for website makeover colors starts here**/

.website-base-color-sea-blue .menu-list-item > a:hover,
.website-base-color-sea-blue .menu-list-item > a:focus {
  color: #078d92;
}

.website-base-color-carrot-red .menu-list-item > a:hover,
.website-base-color-carrot-red .menu-list-item > a:focus {
  color: #d9534f;
}

.website-base-color-historical-brown .menu-list-item > a:hover,
.website-base-color-historical-brown .menu-list-item > a:focus {
  color: #8a6d3b;
}

.website-base-color-parrot-green .menu-list-item > a:hover,
.website-base-color-parrot-green .menu-list-item > a:focus {
  color: #16a085;
}

.website-base-color-professional-blue .menu-list-item > a:hover,
.website-base-color-professional-blue .menu-list-item > a:focus {
  color: #367482;
}

.website-base-color-purple .menu-list-item > a:hover,
.website-base-color-purple .menu-list-item > a:focus {
  color: #76448a;
}

/** css for website makeover colors ends here**/
