/**
 * @file
 * Css template for views.
 *
 **/

@media (max-width: 768px) {
  .views-view-grid .views-col {
    width: 100% !important;
  }

  .views-col {
    margin-top: 30px;
  }

  .views-col:first-child {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .views-row + .views-row {
    margin-top: 30px;
  }

  .views-view-grid .views-col {
    padding: 0 10px;
  }
}
