{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{# menu section on header #}  
<header class="header navbar padding-left-right" role="banner">
  <div class="container-fluid">        
  <div class="row">        
    <div class="navbar-header col-md-5">
      <div class="site-brand">
        <div class="site-info">
        {% if logo %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </a>
        {% endif %}

        {% if site_name or site_slogan %}
        {% if site_name %}
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
        {% endif %}

        {% if site_slogan %}
          <div>{{ site_slogan }}</div>
        {% endif %}
        {% endif %}
        </div>          
      </div>
    </div>
  </div>
  </div>
</header>

<main class="main-container container-fluid" role="main">
  <main class="content content-outer-wrapper padding-left-right margin-50 text-center" role="main">
    <div class="row">
    <div class="col-md-12">
      {% if title %}
      <h1 class="page-title margin-50">{{ title }}</h1>
      {% endif %}      
      {{ page.content }}
    </div>
    </div>
  </div>
</main>


