{#
/**
 * @file
 * Theme override to display front single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{# menu section on header #}  

{# header #}

{% include '@belle/includes/header.html.twig' %}

{% if( slide_state is not empty ) %}
  {% include '@belle/includes/banner.html.twig' %}
{% endif %}
<div class="main-container container-fluid">

  {# breadcrumb #}
  {% if page.breadcrumb %}
    <section class="breadcrumb-outer-wrapper {{ active_container }} margin-30">
      {{ page.breadcrumb }}
    </section>
  {% endif %}

  {# header #}
  {% if page.page_title %}
    <section class="{{ active_container }} margin-60 text-center">
      {{ page.page_title }}
    </section>
  {% endif %}  
  
  {# highlighted #}
  {% if page.highlighted %}
    <section class="highlighted-outer-wrapper {{ active_container }} margin-50">
      {{ page.highlighted }}
    </section>
  {% endif %}
  
  {# content area #}
  <main class="content content-outer-wrapper {{ active_container }}" role="main">
    <div class="row">
    <a id="main-content" tabindex="-1"></a>
    {% if page.left_sidebar and page.right_sidebar %}
        {% set content_classses = [
          'col-md-6',
          'col-lg-6',
          'col-sm-12',
          'col-xs-12',
          'margin-50',
          ]
        %}
    {% elseif page.left_sidebar or page.right_sidebar %}
        {% set content_classses = [
          'col-md-9',
          'col-lg-9',
          'col-sm-12',
          'col-xs-12',
          'margin-50',
          ]
        %}
    {% else %}
        {% set content_classses = [
          'col-md-12',
          'col-lg-12',
          'col-sm-12',
          'col-xs-12',
          'margin-50',
          ]
        %}  
    {% endif %}
    {% if page.left_sidebar %}
      <aside class="left-side-bar left-side-bar-outer-wrapper margin-50 col-md-3 col-xs-12 col-lg-3 col-sm-12">  
          {{ page.left_sidebar }}
      </aside>
    {% endif %}
    
    <div{{ attributes.addClass(content_classses) }}">
      {{ page.content }}
    </div>
    
    {% if page.right_sidebar %}
      <aside class="left-right-bar left-right-bar-outer-wrapper margin-50 col-md-3 col-xs-12 col-lg-3 col-sm-12">
          {{ page.right_sidebar }}
      </aside>
    {% endif %}
    </div>
  </main>

  {# widget #}
  {% if page.widget_1 or page.widget_2 or page.widget_3 %}
    {% set widget_attributes = create_attribute() %}
    <section class="{{ active_container }} widgets-outer-wrapper margin-50">
      <div class="row">
      {% if page.widget_1 and page.widget_2 and page.widget_3 %}
          {% set widget_classes = [
            'col-md-4',
            'col-lg-4',
            'col-sm-12',
            'col-xs-12',
            ]
          %}
      {% elseif (page.widget_1 and page.widget_2) or (page.widget_1 and page.widget_3) or (page.widget_2 and page.widget_3) %}
          {% set widget_classes = [
            'col-md-6',
            'col-lg-6',
            'col-sm-12',
            'col-xs-12',
            ]
          %}
      {% else %}
          {% set widget_classes = [
            'col-md-12',
            'col-lg-12',
            'col-sm-12',
            'col-xs-12',
            ]
          %}  
      {% endif %}
      {% if page.widget_1 %}
        <div {{ widget_attributes.addClass(widget_classes,'widget-1-outer-wrapper') }}>  
          {{ page.widget_1 }}
        </div>
      {% endif %}
      {% if page.widget_2 %}
        <div {{ widget_attributes.addClass(widget_classes,'widget-2-outer-wrapper') }}>  
          {{ page.widget_2 }}
        </div>
      {% endif %}
      {% if page.widget_3 %}
        <div {{ widget_attributes.addClass(widget_classes,'widget-3-outer-wrapper') }}>  
          {{ page.widget_3 }}
        </div>
      {% endif %}
      
      </div>
    </section>
  {% endif %}
</div>
  
{# footer #}
{% include '@belle/includes/footer.html.twig' %}

    
