{#
/**
 * @file
 * Default template for theme banner.
 *
 */
#}

<div class="belle-banner belle-banner-outer-wrap" id="belle-banner">
  <div class="belle-banner-inner-wrap">
    <div class="item {{ show_parallax }}" style="background-image:url({{ coursel_image }})">
      <div class="item-inner-wrap container-fluid">
        <div class="banner-caption">
          <div class="banner-caption-title">
            {{ coursel_caption_header }}
          </div>
          <div class="banner-caption-body">
            {{ coursel_caption_body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
