{#
/**
 * @file
 * Default template for theme footer.
 *
 */
#}

{% if page.footer_1 or page.footer_2 or page.footer_3 or page.footer_4 or page.footer %}
  <footer class="footer-outer-wrapper container-fluid">
    <div class="{{ active_container }}">
      
      {% if page.footer_1 or page.footer_2 or page.footer_3 or page.footer_4 %}
      <div class="row footer-panels-outer-wrapper">
        <div class="footer_1 footer-panel col-md-3 col-xs-12 col-lg-3 col-sm-12">
          {{ page.footer_1 }}
        </div>
        
        <div class="footer_2 footer-panel col-md-3 col-xs-12 col-lg-3 col-sm-12">
          {{ page.footer_2 }}
        </div>
        
        <div class="footer_3 footer-panel col-md-3 col-xs-12 col-lg-3 col-sm-12">
          {{ page.footer_3 }}
        </div>
        
        <div class="footer_4 footer-panel col-md-3 col-xs-12 col-lg-3 col-sm-12">
          {{ page.footer_4 }}
        </div>
      </div>
      {% endif %}
      
      {% if page.footer %}
      <div class="row footer-main-outer-wrapper">
        <div class="col-md-8 col-xs-12 col-lg-8 col-sm-12 text-left">
          {{ page.footer }}
        </div>
        <div class="social_icons-outer-wrapper col-md-4 col-xs-12 col-lg-4 col-sm-12 text-right">
        {% include '@belle/includes/social_icons.html.twig' %}
        </div>
      </div>
      {% endif %}
      
    </div>
  </footer>
{% endif %}
