{#
/**
 * @file
 * Theme override to display a header of website.
 **/
#}

{% if page.hamburger_menu %}
  <div class="hamburger-collapse-outer-wrappers" id="hamburger">            
    <div class="close-navigation"><i class="fa fa-close" aria-hidden="true"></i></div>
    {{ page.hamburger_menu }}  
  </div>
{% endif %}
    
{% if page.primary_menu or page.secondary_menu %}
  {% if( slide_state is not empty ) %}
    <header class="header navbar {{ active_container }} remove-header-banner-space">
  {% else %}
    <header class="header navbar {{ active_container }} remove-header-banner-space">
  {% endif %}
      <div class="container-fluid">        
      <div class="row">        
        <div class="navbar-header col-md-3">
          <div class="site-brand">
            {% if page.hamburger_menu %}
              {% if hamburger_display %}
                <div class="hamburger-bars hide-hamburger-from-desktop">
              {% else %}
                <div class="hamburger-bars">
              {% endif %}
                <i class="fa fa-bars" aria-hidden="true" id="show-hamburger"></i>  
              </div>        
            {% endif %}
            <div class="site-info">
              {{ page.header }}
            </div>          
          </div>
        </div>
        <div class="navbar-right text-right col-md-9">            
          {{ page.primary_menu }}  
        </div>
      </div>
      </div>
    </header>
{% endif %}
