{#
/*
 * @file
 * Template for social icons in footer.
 *
 * alaivaible variables
 *   facebook_link: facebook page link 
 *   youtube_link: Youtube channel link 
 *   twitter_link: Twitter page link 
 *   drupal_link: Drupal project link
 *
 **/
#} 

<ul class="social-media-links--platforms">
    {% if facebook_link %}
  <li class="facebook">
    <a href="{{ facebook_link }}">
      <span class="fa fa-facebook fa-2x"></span>
    </a>
  </li>
  {% endif %}
    {% if youtube_link %}
  <li class="youtube">
    <a href="{{ youtube_link }}">
      <span class="fa fa-youtube fa-2x"></span>
    </a>
  </li>
  {% endif %}
    {% if twitter_link %}
  <li class="twitter">
    <a href="{{ twitter_link }}">
      <span class="fa fa-twitter fa-2x"></span>
    </a>
  </li>
  {% endif %}
    {% if google_plus_link %}
  <li class="google-plus">
    <a href="{{ google_plus_link }}">
      <span class="fa fa-google-plus fa-2x"></span>
    </a>
  </li>
  {% endif %}
    {% if linkedin_link %}
  <li class="linkedin">
    <a href="{{ linkedin_link }}">
      <span class="fa fa-linkedin fa-2x"></span>
    </a>
  </li>
  {% endif %}
    {% if drupal_link %}
  <li class="drupal">
    <a href="{{ drupal_link }}">
      <span class="fa fa-drupal fa-2x"></span>
    </a>
  </li>
  {% endif %}
</ul>
