/*
 *  @file
 *  Css template for banner.
 *
 **/

header.remove-header-banner-space {
  margin-bottom: 0;
  box-shadow: none;
}

div#belle-banner .item {
  text-align: center;
}

div#belle-banner .show-parallax.item {
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

div#belle-banner .belle-banner-inner-wrap .item-inner-wrap {
  background-color: rgba(0,0,0,0.6);
}

div#belle-banner .banner-caption-title {
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  word-wrap: break-word;
}

div#belle-banner .banner-caption-body {
  color: #a8a8a8;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  font-size: 18px;
  word-wrap: break-word;
}

div#belle-banner .banner-caption {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 768px) { /* LTR */
  div#belle-banner .banner-caption-title {
    font-size: 30px;
  }
  div#belle-banner .banner-caption {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
