/**
 * @file
 * Css template for comments.
 *
 **/

.field-comment-outer-wrapper .comment-field-label {
  text-transform: CAPITALIZE;
  font-weight: 600;
  font-size: 24px;
  -webkit-box-shadow: 3px 6px 3px -5px #c6d4dc;
  -moz-box-shadow: 3px 6px 3px -5px #c2d8e6;
  box-shadow: -3px 6px 3px -5px #c6d4dc;
}

.belle-comment-box footer {
  background: transparent;
  margin: 0;
  color: #4a4a4a;
  padding: 0;
}

.belle-comment-box footer a {
  color: #4a4a4a;
}

.belle-comment-box .comment-subject a {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 700;
}

.belle-comment-box .submitted-by {
  font-size: smaller;
  margin-bottom: 11px;
  display: inline-block;
  font-style: italic;
  color: #9b9b9b;
}

.belle-comment-box {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  -webkit-box-shadow: 3px 6px 3px -5px #c6d4dc;
  -moz-box-shadow: 3px 6px 3px -5px #c6d4dc;
  box-shadow: 3px 6px 3px -5px #c6d4dc;
}
